.button {
    padding: 5px 24px;
    border-radius: 3px;
    border: none;
}

.disabled {
}

.secondary {
}

.default {

}

.red {
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
